@import '../styles/variables.scss';
.login{
    width: 800px;
    margin: 100px auto;
    border: 3px solid $light-gray;
    padding: 40px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
    h2{
        color:$gray;
        margin-bottom: 30px;
        font-size: 18px;
    }
    form{
        input{
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            border-bottom: 1px solid #ccc;
            outline: none;
            font-size: 14px;
            background: none;
        }
        button{
            width: 100%;
            padding: 10px;
            background-color: $primary;
            color: $white;
            border: none;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            
        }
    }
    p{
        margin-top: 20px;
        font-size: 12px;
        color:$gray;
        a{
            color:$primary;
            text-decoration: underline;
            margin-left: 5px;
        }
    }
    >button{
        margin-top: 20px;
        background-color: $white;
        padding: 10px;
        border: 1px solid $light-gray;
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        .googleIcon{
                font-size: 18px;
            
                margin-right: 8px;
        }
    }
}